<!doctype html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<title>{{name}} - Honesty</title>
		<link rel="stylesheet" type="text/css" href="other.css" />
	</head>
	
	<body>
		<header style="background-image: url({{data.lastseen}})">
			<nav>
				<inner>
					<a href="#">
						Hi
					</a>
					<spacer></spacer>
				</inner>
			</nav>
			<main>
				<inner>
					<span>{{name}}</span>
					<spacer></spacer>
					<span class="sm">last seen: {{data.lastseen}}</span>
				</inner>
			</main>
		</header>
		<content>
			<inner>
				<box class="center">
					{{data.posts.length}} Posts |
					{{data.followers.length}} Followers
					<spacer></spacer>
					<button>Follow</button>
				</box>
				<flex class="horiz">
					<flex>
						
					</flex>
					<flex style="height:fit-content;" class="small">
						<box>
						</box>
					</flex>
				</flex>
			</inner>
		</content>
	</body>
</html>
